<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="employeedivision">
<div class="row">
  <div class="col-6">
    <div *ngIf="products; else elseBlock">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
            <!-- <th>ID</th> -->
            <th>EmployeeCode</th>
            <th>EmployeeName</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products; let i=index; let odd = odd" [ngClass]="odd ? 'odd_col' : 'even_col'">
            <td><input type="checkbox" value="{{p.ID}}" [(ngModel)]="products[i].checked"></td>
            <!-- <td>{{ p.ID }}</td> -->
            <td>{{ p.EmployeeCode }}</td>
            <td>{{ p.EmployeeName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlock>No record found</ng-template>
  </div>

  
  <!--Divisions Table-->
<div class="col-3">
  <div *ngIf="products; else elseBlock">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
          <!-- <th>ID</th> -->
          <th>Divisions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of divisions; let i=index; let odd = odd" [ngClass]="odd ? 'odd_col' : 'even_col'">
          <td><input type="checkbox" value="{{d.ID}}" [(ngModel)]="divisions[i].checked"></td>
          <!-- <td>{{ d.ID }}</td> -->
          <td>{{ d.Divisions }}</td>

        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #elseBlock>No record found</ng-template>
</div>
</div>

</body>
</html>